language: python
dist: xenial
python:
    - 2.7
    - 3.5
    - 3.6
    - 3.7
    - 3.8-dev
    - pypy2.7-6.0
    - pypy3.5-6.0
matrix:
    include:
        - name: "flake8"
          install: pip install flake8
          script: flake8 src setup.py
          after_success:
install:
    - pip install -U pip setuptools
    - pip install -U coverage coveralls coverage-python-version
    - pip install -U -e .[test]
script:
    - coverage run -m zope.testrunner --test-path=src
after_success:
    - coveralls
notifications:
    email: false
cache: pip
