[buildout]
develop = .
parts = scripts test coverage-test coverage-report

[scripts]
recipe = z3c.recipe.scripts
eggs = zope.sendmail
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = zope.sendmail [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zope.sendmail
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
